.red{
    background-color: red;
    color: white;
}
.blue{
    background-color: blue;
    color: white;
}
.yellow{
    background-color: yellow;
    color: white;
}
.green{
    background-color: green;
    color: white;
}
.black{
    background-color: black;
    color: white;
}
p{
    font-size: 10em;
    display: flex;
    justify-content: space-around;
}
button{
    margin: 0 auto;
    display: block;
    font-size: 7em;
}